{% assign hasAuthorization = false %}
{% for tag in page.tags %}
    {% if tag.name == "authorized" %}
      {% assign hasAuthorization = true %}
      {% break %}
    {% endif %}
{% endfor %}
<div class="byline text-muted small">
  {% if hasAuthorization %}
    {% comment %}
    We will hide the author from this page. The auth is only meant to be included in the footer.
    {% endcomment %}
  {% else %}
    Posted by {{ page.author.published_name_linked }} on {{ page.published_at | date: '%d %B %Y' }}
  {% endif %}
</div>
