{% comment %}
This custom code is being kept updated in GitHub. The code in GitHub will be treated as the source of truth, so do not
edit the template without also updating GitHub.

This code is intended for the /candidates page.
{% endcomment %}
{% assign electorateTags = "nsw,qld,sa,vic,wa,act,tas,lower,upper" | split: "," %}
<div id="content">
  {% comment %}
  Drew, put your HTML here!
  {% endcomment %}
  <h2 class="h-underline h-pink">Endorsed Candidates</h2>
  <p>Check out our currently nominated candidates for upcoming elections!<br>
  <a rel="noopener" href="https://check.aec.gov.au/" target="_blank">Visit the Australian Electoral Commission website</a><span>&nbsp;</span>to check your electorate.</p>
  <p>Want to see yourself here? It's not too late to nominate 🙋 - <a rel="noopener" href=https://forms.gle/T6WnXEpYSDBrSTGz6>Express your interest here!</a></p>
  <p>Want to know what the party's voting rules are? Or what mutual obligations the party has with its candidates?<br>
  - <a rel="noopener" href=https://www.fusionparty.org.au/candidate_expectations>Read more about Candidate Expectations here!</a></p>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2 mt-2 filters-btn-group" role="group" data-filter-group="state" aria-label="State Selection">
      <button class="btn btn-secondary active" data-filter="">All</button>
      <button class="btn btn-secondary" data-filter=".nsw">NSW</button>
      <button class="btn btn-secondary" data-filter=".qld">QLD</button>
      <button class="btn btn-secondary" data-filter=".sa">SA</button>
      <button class="btn btn-secondary" data-filter=".vic">VIC</button>
      <button class="btn btn-secondary" data-filter=".wa">WA</button>
    </div>
    <div class="btn-group mr-2 mt-2 filters-btn-group" role="group" data-filter-group="house" aria-label="House Selection">
      <button class="btn btn-secondary active" data-filter="">All</button>
      <button class="btn btn-secondary" data-filter=".upper">Senate</button>
      <button class="btn btn-secondary" data-filter=".lower">House of Reps</button>
    </div>
  </div>
  {% if page.blog.is_posting_public? %}
    <div class="card bg-light mb-4">
      <div class="card-body">
      {% form_for blog_post_page %}
        <div class="form-errors">{% error_messages_for blog_post_page %}</div>

        <div id="blog-post-page-page-headline-input" class="blog-post-page-page-headline-input form-group mb-0">
          {% text_field "page_headline", class:"form-control text", placeholder: page.blog.public_posting_prompt %}
        </div>

        <div id="blog-post-page-form-expanded" class="blog-post-page-form-expanded mt-4 hide">
          <div class="form-group">
            {% text_area "content_editable", class:"form-control textarea-tinymce" %}
          </div>
          {% if page.show_consent_form? %}
            {% include "consent_form" %}
          {% endif %}
          <div class="form-group">
            {% submit_tag "Post", class:"btn btn-primary submit-button" %}
            <div class="form-submit"></div>
          </div>
        </div>
      {% endform_for %}

      {% unless request.logged_in? %}
        <div class="user-session-form-container hide">
          {% include "user_session_form" %}
        </div>
      {% endunless %}
      </div>
    </div>
  {% endif %}

  <div class="isogrid">
    <ul class="list-unstyled mb-4" id="blog-page-{{ page.id }}">
      {% for post in page.blog.most_recent_blog_posts %}
        {% assign h_color = 'aquamarine' %}
        {% assign h_aquamarine = true %}
        {% assign tag_classes = "" %}
        {% for tag in post.tags %}
            {% if tag.name contains "_h-" %}
                {% assign h_color = tag.name | replace: '_h-', '' %}
                {% unless tag.name contains "aquamarine" %}
                  {% assign h_aquamarine = false %}
                {% endunless %}
            {% else %}
              {% if electorateTags contains tag.name %}
                {% assign tag_classes = tag_classes | append: " " | append: tag.name %}
              {% endif %}
            {% endif %}
        {% endfor %}
        {% assign link_id = post.url | replace_first: "/", "" %}
        {% assign candidate_name = post.headline | split: " for " | slice: 0 | first | strip %}
        {% assign img_src = "" %}
        {% case candidate_name %}
          {% when "Owen Miller" %}
            {% assign img_src = "https://assets.nationbuilder.com/futureparty/pages/4216/attachments/original/1724677087/g_20240803_142539_cropped_2.png?1724677087" %}
          {% when "Tian Carrie-Wilson" %}
            {% assign img_src = "https://assets.nationbuilder.com/futureparty/pages/5436/attachments/original/1740793071/thumbnail_Tian.jpg?1740793071" %}
          {% else %}
            <script>
              console.log(`Candidate {{ candidate_name }} has no thumbnail defined − the template at https://futureparty.nationbuilder.com/admin/sites/2044/pages/4215/template needs to be updated`);
            </script>
        {% endcase %}
        <li class="isogrid-item {{ tag_classes }} py-2 py-md-0 row w-100 thumbnail-blog-preview" id="{{ link_id }}">
          <div class="col-6 col-md-8 order-1 order-md-5 my-md-2">
                <a href="{{ post.url }}">
                  <img class="rounded w-100" title="{{ post.headline }}" class="w-100 li-img" src={{ img_src }} alt="{{ candidate_name }}">
                </a>
            </div>
            <div class="col-6 col-md-12 order-5 order-md-1 my-md-2">
                <a href="{{ post.url }}" class="uncolored">
                    <h3 class="mb-1 h-underline h-pink h-underline-animate">
                      {{ post.headline }}
                    </h3>
                </a>
                {% assign visible_tag = tag_classes | replace: "lower", "" | replace: "upper", "" | strip %}
                <span class="badge badge-secondary mt-2 ml-md-3">{{ visible_tag }}</span>
            </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {{ page.blog.most_recent_blog_posts | paginate prev_label: "Previous" next_label: "Next" }}

  <h2 class="h-underline h-pink">Previous Candidates</h2>
  <p>You can see our history of candidates for past elections here:</p>
  <p><a rel="noopener" href="https://www.fusionparty.org.au/previous_candidates" target="_blank">Past Candidates in Fusion's History</a></p>
</div>
