{% comment %}
This custom code is being kept updated in GitHub. The code in GitHub will be treated as the source of truth, so do not
edit the template without also updating GitHub.

This code is intended for the /candidates page.
{% endcomment %}
{% assign electorate_tags = "nsw,qld,sa,vic,wa,act,tas,lower,upper" | split: "," %}
{% assign parties = "fusion,democracyfirst,progressives,pirate,science,secular,voteplanet" | split: "," %}

<div id="content">
  <h2 class="h-underline h-pink">Find Your Candidates</h2>
  <p>
    <a rel="noopener" href="https://check.aec.gov.au/" target="_blank">Visit the Australian Electoral Commission website</a><span>&nbsp;</span>to check your electorate, or use the map:
  </p>
  <div>
    <div class="mb-0" style="max-height: 400px; height:calc(min(350px, 90vh));" id="osm-map">
    </div>
    <button class="btn btn-secondary p-2 pl-0 m-2" style="position: relative; top:-3.5rem; z-index:1008" id="find-me">Find me</button>
  </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2 mt-2 filters-btn-group" role="group" data-filter-group="state" aria-label="State Selection">
      <button class="btn btn-secondary active" data-filter="">All</button>
      <button class="btn btn-secondary" data-filter=".nsw">NSW</button>
      <button class="btn btn-secondary" data-filter=".qld">QLD</button>
      <button class="btn btn-secondary" data-filter=".sa">SA</button>
      <button class="btn btn-secondary" data-filter=".vic">VIC</button>
      <button class="btn btn-secondary" data-filter=".wa">WA</button>
    </div>
    <div class="btn-group mr-2 mt-2 filters-btn-group" role="group" data-filter-group="house" aria-label="House Selection">
      <button class="btn btn-secondary active" data-filter="">All</button>
      <button class="btn btn-secondary" data-filter=".upper">Senate</button>
      <button class="btn btn-secondary" data-filter=".lower">House of Reps</button>
    </div>
  </div>
  {% if page.blog.is_posting_public? %}
    <div class="card bg-light mb-4">
      <div class="card-body">
      {% form_for blog_post_page %}
        <div class="form-errors">{% error_messages_for blog_post_page %}</div>

        <div id="blog-post-page-page-headline-input" class="blog-post-page-page-headline-input form-group mb-0">
          {% text_field "page_headline", class:"form-control text", placeholder: page.blog.public_posting_prompt %}
        </div>

        <div id="blog-post-page-form-expanded" class="blog-post-page-form-expanded mt-4 hide">
          <div class="form-group">
            {% text_area "content_editable", class:"form-control textarea-tinymce" %}
          </div>
          {% if page.show_consent_form? %}
            {% include "consent_form" %}
          {% endif %}
          <div class="form-group">
            {% submit_tag "Post", class:"btn btn-primary submit-button" %}
            <div class="form-submit"></div>
          </div>
        </div>
      {% endform_for %}

      {% unless request.logged_in? %}
        <div class="user-session-form-container hide">
          {% include "user_session_form" %}
        </div>
      {% endunless %}
      </div>
    </div>
  {% endif %}

  <div class="isogrid">
    <ul class="list-unstyled mb-4" id="blog-page-{{ page.id }}">
      {% comment %}here we loop over all child blog posts and give them special handling{% endcomment %}
      {% for post in page.blog.most_recent_blog_posts %}
        {% assign h_color = 'pink' %}
      	{% assign state = "" %}
      	{% assign tag_classes = "" %}
      	{% assign is_lower = false %}
      	{% assign party_id = "fusion" %}

      	{% comment %}loop over page tags for this blog post to see if there are any we need to know about{% endcomment %}
        {% for tag in post.tags %}

          {% if parties contains tag.name %}
            {% assign party_id = tag.name %}
            {% continue %}
          {% endif %}

          {% if states contains tag.name %}
            {% assign state = tag.name %}
            {% continue %}
          {% endif %}

          {% if tag.name contains "_h-" %}
            {% assign h_color = tag.name | replace: '_h-', '' %}
            {% continue %}
      		{% endif %}

          {% if electorate_tags contains tag.name %}
          	{% assign tag_classes = tag_classes | append: " " | append: tag.name %}
      			{% if tag.name == 'lower' %}
      				{% assign is_lower = true %}
      			{% endif %}
            {% continue %}
          {% endif %}

        {% endfor %}

      	{% comment %}does this blog post have an associated donation page?{% endcomment %}
      	{% assign post_url = post.url %}
        {% for child in post.children %}
          {% if child.type_name == "Donation (v2)" %}
            {% assign post_url = child.url %}
            {% break %}
          {% endif %}
        {% endfor %}

      	{% comment %}extra handling for party styling{% endcomment %}
        {% if party_id %}
          {% case party_id%}
            {% when "progressives" %}
              {% assign h_color = "blue" %}
            {% when "democracyfirst" %}
              {% assign h_color = "blue" %}
          {% endcase %}
      	{% endif %}

        {% assign link_id = post_url | replace_first: "/", "" %}
        {% assign candidate_name = post.headline | split: " for " | slice: 0 | first | strip %}
        {% assign electorate_name = post.headline | split: " for " | slice: 1 | first | strip | downcase | replace: " ", "_" %}
        {% assign img_src = "" %}
        {% case candidate_name %}
      		{% else %}
            {% for attachment in post.attachments limit:10 %}
      				{% if attachment.file_name contains "preview" %}
      					{% assign img_src = attachment.url %}
      					{% break %}
      				{% endif %}
            {% endfor %}
      			{% if img_src == "" %}
              <script>
                console.log(`Candidate {{ candidate_name }} has no thumbnail defined − the template at https://futureparty.nationbuilder.com/admin/sites/2044/pages/4215/template needs to be updated or you can upload an image with the word preview in the filename`);
              </script>
      			{% endif %}
        {% endcase %}

        <li class="isogrid-item {{ tag_classes }} py-2 py-md-0 row w-100 thumbnail-blog-preview" id="{{ link_id }}">
          <div class="col-6 col-md-8 order-1 order-md-5 my-md-2" style="scroll-margin-top:120px;" {% if is_lower %}id="{{ electorate_name }}"{% endif %}>
                <a href="{{ post_url }}">
                  <img class="rounded w-100" title="{{ post.headline }}" class="w-100 li-img" src={{ img_src }} alt="{{ candidate_name }}">
                </a>
            </div>
            <div class="col-6 col-md-12 order-5 order-md-1 my-md-2 badged-heading flex-column flex-md-row">
                <a href="{{ post_url }}" class="uncolored">
                    <h3 class="mb-1 h-underline h-{{ h_color }} h-underline-animate">
                      {{ post.headline }}
                    </h3>
                </a>
                <div class="badges">
                  {% comment %}
                  On mobile, the badges will be under the h3, then on md, they'll transition to be next to it.
                  {% endcomment %}
                  {% assign visible_tag = tag_classes | replace: "lower", "" | replace: "upper", "" | strip | upcase %}
                  <span class="badge badge-secondary ml-md-3">{{ visible_tag }}</span>
                  {% assign party_logo_filename = party_id | append: "_logo.svg" %}
                  {% assign party_logo_url = theme[party_logo_filename] %}
                  <span class="badge badge-small"><a href="https://www.fusionparty.org.au/what_is_a_movement">
                    <img class="img-small" src="{{party_logo_url}}" alt="{{party_id}} logo"/>
                    </a></span>

                </div>
            </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {{ page.blog.most_recent_blog_posts | paginate prev_label: "Previous" next_label: "Next" }}

  <h2 class="h-underline h-pink">Previous Candidates</h2>
  <p>You can see our history of candidates for past elections here:</p>
  <p><a rel="noopener" href="https://www.fusionparty.org.au/previous_candidates" target="_blank">Past Candidates in Fusion's History</a></p>
</div>
